meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title #{title} | My Company
meta(itemprop="description" name="description" content="")
meta(itemprop="keywords" name="keywords" content="") 
link(rel="canonical" href="")
meta(name="theme-color" content="#283744")
link(rel="apple-touch-icon" sizes="180x180" href="")
link(rel="icon" type="image/png" href="" sizes="32x32")
link(rel="icon" type="image/png" href="" sizes="16x16")
link(rel="manifest" href="")
link(rel="mask-icon" href="" color="#5bbad5")
link(rel="shortcut icon" href="")
meta(name="apple-mobile-web-app-title" content="")
meta(name="application-name" content="")
meta(name="msapplication-TileColor" content="#2b5797")
meta(name="msapplication-TileImage" content="")
meta(name="msapplication-config" content="")
meta(name="robots" content="")

link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic')
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet' href=`/css/app.css?v=${version}`)