.top-bar
    .container.mob-top.navbar
        ul.social-nav.mr-auto
            li
                a(href="").facebook(target="_blank" title="Facebook" rel="nofollow" class="facebook")
                 i.fa.fa-facebook
            li
                a(href="").google(target="_blank" title="Google" rel="nofollow" class="google")
                 i.fa.fa-google
            li
                a(href="").vk(target="_blank" title="Vkontakte" rel="nofollow" class="vk")
                 i.fa.fa-vk 
            li
                a(href="").instagram(target="_blank" title="Instagram" rel="nofollow" class="instagram")
                  i.fa.fa-instagram 
        a(href="")
            .icon-top
                i.fa.fa-shopping-cart
                    span 13
        a(href="")
            .icon-top
                i.fa.fa-search  
.container
    .row#header
        .col-3
            #logo
                a(href="/" rel="home")
                    img(src="/img/logo.png")
        .col-9
            .h-widget.d-flex
                .hw-c
                    i.fa.fa-phone
                    .h-cont 
                        span Вопросы? 
                        br 
                        span Вопросы?              
                .hw-c
                    i.fa.fa-phone
                    .h-cont 
                        span Вопросы? 
                        br 
                        span Вопросы?    
                .hw-c
                    button.btn.btn-primary.ripple-effect(type="button") Калькулятор
                .hw-c
                    i.fa.fa-phone
                    .h-cont
                        span Вопросы? 
                        br 
                        span Вопросы?
include mainmenu