#main-nav
 .container
   nav.main-navigation.navbar.navbar-expand-lg
    .navbar-collapse.justify-content-md-end.collapse#navbarNavAltMarkup1
        ul.navim.nav.justify-content-center
         li.first: a(href="/about") О нас
         li: a(href="/allgroup") Продукция
         li: a(href="/uslugi") Услуги
         li: a(href="/price") Цены
         li: a(href="/faq") Вопросы
         li: a(href="/blog") Блог
         li: a(href="/gallery") Наши работы
         li.last: a(href="/contact") Контакты