.col-3
  nav#my-menu
    ul.multi-menu.list-unstyled
      li
        a(href='')
          span Стекло на заказ
      li.dropdown-submenu
        a(href='', tabindex='-1')
          span Зеркала на заказ
        ul.dropdown-menu
          li
            a(href='', tabindex='-1')
              span Second level
          li
            a(href='')
              span Even More
      li.dropdown-submenu
        a(href='', tabindex='-1')
          span Обработка стекла и зеркала
        ul.dropdown-menu
          li
            a(href='')
              span Second level
          li
            a(href='')
              span Even More  
      li
        a(href='')
          span Душевые кабины
      li
        a(href='')
          span Стеклянные двери
      li
        a(href='')
          span Стеклянные перегородки
      li
        a(href='')
          span Фартук (скинали) для кухни
      li
        a(href='')
          span Фурнитура для стекла                              
