<!doctype html>

block html
html(lang="ru" itemscope="")(itemtype= typeSite)

    head
        include ./chunk/head
    body
        header
            block header
                include ./chunk/header
        main
            .container
             .row.pt
              div.col-3
               include ./chunk/sidemenu
              div.col-9
               block content
        footer
            include ./chunk/footer





































































            