<!doctype html>
html(lang="ru")
    head
        include ./chunk/head
    body
        header
            block header
        main
            block content
        footer
            include ./chunk/footer