<!doctype html>

block html
html(lang="ru" itemscope="")(itemtype= typeSite)

    head
        include ./chunk/head
    body
        header
            block header
                include ./chunk/header
        main
            .container
             include ./chunk/sidemenu
             block content
        footer
            include ./chunk/footer





































































            